.containers{
    display: grid;
    grid-template-columns: 400px auto;
    column-gap: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
}